body {
    background-color: #FFDEB4;
    margin-bottom: 30px;
}

h1 {
    color: #0061D5;
    text-align: center;
}

.box {
    display: block;
    margin: auto;
}

#button{
    display: block;
    text-align: center;
    width: 50%;
    height: 50px;
    margin: auto;
    margin-top: 20px;
    border: solid #0061D5;
}

#button:hover {
    background-color: #0061D5;
    color: white;
}

#title {
    display: block;
    outline: none;
    margin: auto;
    width: 50%;
    height: 30px;
    font-size: 20px;
    border: solid #0061D5;
}

/* description box */
.box textarea{
    font-size: 30;
    display: block;
    outline: none;
    width: 50%;
    height: 150px;
    margin: auto;
    margin-top: 20px;
    resize: none;
    font-size: 17px;
    border: solid #0061D5;
}

/* container for the delete button */
.container {
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 50%;
}

/* id to delete */
.container input {
    border: solid #0061D5;
    width: 10%;
    height: 41.5px;
}

/* delete button */
.container button {
    width: 88.8%;
    border: solid #0061D5;
    height: 50px;
}

/* delete button */
.box input + button[type=submit]:hover {
    border: #BD1148;
    background-color: #BD1148;
    color: white;
}

table {
    background-color: white;
    width: 50%;
    border: solid #0061D5;
    margin: auto;
    margin-top: 20px;
    border-collapse: collapse;
}

th {
    color: #0061D5;
}

th, td{
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid black;
}

/* when hovering over a table row */
tr:hover {
    background-color: #B4DAFF;
}

.box2 {
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 50%;
}

/* id to update box */
.box2 input {
    width: 10%;
    height: 41.5px;
    border: solid #0061D5;
}

/* update button */
.box2 button {
    width: 88.8%;
    border: solid #0061D5;
    height: 50px;
}

/* when hovering over the update button */
.box2 button:hover {
    border: #028058;
    color: white;
    background-color: #028058;
}

/* how the chosen note will be displayed */
.note {
    display: block;
    margin: auto;
    margin-bottom: 20px;
    width: 50%;
    border: solid #0061D5;
    background-color: white;
    text-align: center;
}

/* description of the note displayed */
.note p {
    margin: auto;
    padding: 20px;
    font-size: 20px;
}

/* will have to use javascript to show/hide error messages */

.message {
    display: block;
    text-align: center;
    color: black;
    margin: auto;
    margin-top: 50px;
    width: 80%;
    font-size: 20px;
}